<div class="navbar-wagon">
  <!-- Logo -->
  <ul class="ul-navbar list-inline">
    <li>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
       <li><%= image_tag "logo2.jpg" %></li>
      <% end %>
    </li>
    <li>
      <span class="title-navbar">Au bord de l'eau</span>
    </li>
  </ul>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Accueil link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Accueil", root_path %>
    </span>

    <!-- Le projet link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Le projet", le_projet_path %>
    </span>


      <!-- Le site link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Fonctionnement du site", le_site_path %>
    </span>

    <!-- L'association link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "L'association", l_association_path %>
    </span>

     <!-- Nos soutiens Link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "nos soutiens", soutiens_path %>
    </span>

    <!-- Qui sommes-nous Link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Qui sommes-nous ? / Contact", contact_path %>
    </span>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Le projet", le_projet_path %></li>
        <li><%= link_to "Le site", le_site_path %></li>
        <li><%= link_to "L'association", l_association_path %></li>
        <li><%= link_to "Qui sommes-nous ? / Contact", contact_path %></li>
      </ul>
    </div>
  </div>

</div>

