<div class="navbar-wagon">
  <!-- Logo -->
  <ul class="ul-navbar list-inline">
    <li>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
       <li><%= image_tag "fisherman.svg" %></li>
      <% end %>
    </li>
    <li>
      <span class="title-navbar">Au bord de l'eau</span>
    </li>
  </ul>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Le projet link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Le projet", le_projet_path %>
    </span>


      <!-- Le site link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Fonctionnement du site", le_site_path %>
    </span>

    <!-- L'association link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "L'association", l_association_path %>
    </span>

    <!-- Qui sommes-nous Link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Qui sommes-nous ?", contact_path %>
    </span>

  </div>

</div>

