<div class="navbar-wagon">
  <!-- Logo -->
  <ul class="list-inline">
    <li>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
       <li><%= image_tag "christian-symbol.svg" %></li>
      <% end %>
    </li>
    <li> <h5 class>Au bord de l'eau</h5> </li>
    </ul>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Le projet link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Le projet", le_projet_path %>
    </span>

      <!-- Le site link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Le site", le_site_path %>
    </span>

    <!-- L'association link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "L'association", l_association_path %>
    </span>

    <!-- Contact Link -->
    <span class="navbar-wagon-item navbar-wagon-link">
      <%= link_to "Nous rejoindre", contact_path %>
    </span>

  </div>

</div>

