
  <h3><%= boat.name %></h3>
  <p><strong><%= boat.organizer %> </strong></p>
  <% if boat.photo? %>
    <%= cl_image_tag boat.photo.path, height: 100, width: 200, crop: :fill %>
    <% else %>
      <div class="card" style="background-image: linear-gradient(rgba(1,0,0,0.3), rgba(7,0,0,0.2)), url('<%= cl_image_path("fishing_boat_fdoghg") %>')">
    <% end %>
  <div class="box-container">
    <p><strong>Lieu: </strong><%= boat.address %></p>
    <p><strong>Quand ? </strong><%= boat.starts_at %></p>
  </div>
  <%= link_to '', boat_path(boat), class: "card-link" %>

