
  <h3><%= boat.name %></h3>
  <p><%= boat.description %></p>
    <% if boat.photo? %>
    <div class="card text-left" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)),
           url('<%= cl_image_path boat.photo.path %>')">
    <% else %>
      <div class="card" style="background-image: linear-gradient(rgba(1,0,0,0.3), rgba(7,0,0,0.2)), url('<%= cl_image_path("fishing_boat_fdoghg") %>')">
    <% end %>
  <div class="box-container">
    <p><strong>Location: </strong><%= boat.address %></p>
    <p><strong>price per day: </strong><%= boat.price_per_day %> euros</p>
    <p><strong>number of passengers accepted: </strong><%= boat.nb_of_passengers %> pax</p>
  </div>
  <%= link_to '', boat_path(boat), class: "card-link" %>

