<h1>Boats#edit</h1>
<p>Find me in app/views/boats/edit.html.erb</p>

<h2>Mettre à jour !</h2>

<%= simple_form_for (@boat) do |f| %>
    <%= f.input :name %>
    <%= f.input :organizer %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :address %>
    <%= f.input :street_address %>
    <%= f.input :zipcode %>
    <%= f.input :city %>
    <%= f.input :description %>
    <%= f.input :objectives %>
    <%= f.input :photo, as: :attachinary %>
  <%= f.submit "Add your boat", class: "btn btn-primary" %>
<% end %>

    </div>
  </div>
</div>


