

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,1,3,0.2) 0%, rgba(123,2,1,0.4) 50%), url(<%= asset_path 'banner_photo.jpg' %>) ">
  <div class="banner-content">
    <h1>Au bord de l'eau</h1>
    <h2>Le réseau des pêcheurs et de leurs actions environnementales </h2>
  </div>
</div>



  <div class="container">
    <div class="text-volets">
      <div class="row">
        <div class="col-xs-12">
          <br><br>
          <h2 class="text-center" id="title"> Le projet en quelques lignes </h2>
          <div class="social-media-card">

            <p class="text-justify">"Au bord de l'eau" est un projet de site Internet combinant <strong>un réseau social</strong> pour rassembler les pêcheurs autour de leur passion et <strong>une plate-forme d'actions environnementales</strong> pour les inciter à s'engager concrètement.</p>

            <p class="text-justify">Cette idée est née du constat qu’il existe aujourd’hui un fossé entre la prise de conscience, réelle, et le passage à l’action concrète pour l’environnement, qui reste faible. Réunir au sein d’un seul site, les adeptes d’une passion, via un réseau social, mais aussi toutes les actions environnementales portées par l’ensemble des acteurs engagés, est pour nous le meilleur moyen de relever ce défi !</p>

            <p class="text-justify"> Nous souhaitons créer ce site au sein d'une association qui réunisse l'ensemble des acteurs concernés (fédérations, appmas, ministère, pêcheurs..).</p>
            <p class="text-justify">Nos objectifs sont de favoriser l'engagement des pêcheurs envers la préservation de l'environnement et de permettre aux associations/fédérations de s'appuyer sur de nouvelles ressources.</p>
            <%= link_to 'En savoir plus', le_projet_path %>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="wrapper-grey">
  <div class="container">
    <!-- <h2 class="text-center" id="title"> L'associatif à l'ère collaborative </h2> -->
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card-text">
          <div class="image-card">
            <%= image_tag "fishermen_crop.jpg" %>
          </div>
          <h3 class="text-center">Le site</h3>
          <p class="text-justify">Un <strong>site internet</strong> composé :</p>
          <ul>
            <li>d'un <strong>réseau social</strong> pour rassembler les pêcheurs autour de leur passion.</li>
            <br>
            <li>d'une <strong>plate-forme</strong> où les acteurs (fédérations, appmas...) pourront mettre en ligne leurs actions.</li>
          </ul>
          <%= link_to '', le_site_path, class: "card-link" %>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card-text">
          <br><br>
          <div class="image-card">
            <%= image_tag "logo1901.gif" %>
          </div>
          <h3 class="text-center">L'association</h3>
          <p class="text-justify">Un site administré par une <strong>association loi 1901</strong> :</p>
          <ul>
            <li>composée d'<strong> acteurs représentatifs</strong> (appmas, fédérations, pouvoirs publics...)</li>
            <br>
            <li>à <strong>but non lucratif</strong>.</li>
            <br>
          </ul>
          <%= link_to '', l_association_path, class: "card-link" %>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card-text">
        <br>
          <div class="image-card">
            <%= image_tag "nous-rejoindre_crop.png" %>
          </div>
          <h3 class="text-center">Nous rejoindre</h3>
          <p class="text-justify">Aidez nous à faire du projet un succès :</p>
          <ul>
            <li>en <strong>relayant le projet</strong> sur les réseaux sociaux</li>
            <br>
            <li>en rejoignant ou en aidant<strong> l'association</strong></li>
            <br>
            <li>en devenant notre <strong>relais local</strong></li>
          </ul>
          <%= link_to '', contact_path, class: "card-link" %>
        </div>
      </div>

    </div>
  </div>




  <div class="container">
    <div class="text-volets">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="text-center" id="title"> Suivez nous ! </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <!-- tweet embedded -->
            <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="und" dir="ltr"><a href="https://twitter.com/hashtag/NouvellePhotoDeProfil?src=hash">#NouvellePhotoDeProfil</a> <a href="https://t.co/64H6nnl2Nc">pic.twitter.com/64H6nnl2Nc</a></p>&mdash; Au bord de l eau (@au_bord_deleau) <a href="https://twitter.com/au_bord_deleau/status/865986560419934208">May 20, 2017</a></blockquote>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="fb-page" data-href="https://www.facebook.com/auborddeleau.org/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/auborddeleau.org/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/auborddeleau.org/">Au bord de l&#039;eau</a></blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br><br>
        <h2 class="text-center" id="title"> Un site internet composé de deux volets : </h2>
        <br>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="social-network-volets">
      <div class="row">

        <div class="col-xs-12">
          <div class="social-media-card">
            <h3 class="text-center" id="title"> Un réseau social </h3>
          </div>
          <div class="image-site">
            <%= image_tag "fishermen_margin_crop.jpg" %>
          </div>
          <h4 class="text-center" id="title"> Fonctionnalités pour les pêcheurs </h4>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="card-text">
            <h5 class="text-center">Une partie fil d'actualités</h5>
            <p class="text-justify">Pour poster un article issu d'un média ou suivre le compte-rendu de pêche d'un ami.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="card-text">
            <h5 class="text-center">Un forum et une messagerie</h5>
            <p class="text-justify">Afin de trouver les bonnes infos, discuter météo, trouver la bonne affaire ou contacter quelqu'un.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-3">
          <div class="card-text">
            <h5 class="text-center">Suivre ses amis ou ses groupes préférés</h5>
            <p class="text-justify">Pour se constituer un groupe d'amis avec qui aller pêcher et suivre ses groupes préférés.</p>
          </div>
        </div>


        <div class="col-xs-12 col-md-3">
          <div class="card-text">
            <h5 class="text-center">Une partie événements </h5>
            <p class="text-justify">Pour créer ses propres sorties de pêche ou aller filer un coup de main à une appma ! </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="social-media-card">
            <h4 class="text-center" id="title"> Fonctionnalités pour les porteurs d'actions</h4>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Une partie réservée aux actions environnementales</h5>
            <p class="text-justify">Les encarts habituellement dédiés aux publicités sont ici réservés aux actions environnementales.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Une présence dans le fil d'actualités</h5>
            <p class="text-justify">Les actions mises en ligne apparaissent dans les fils d'actualités des membres du réseau social.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Une page spécifique aux acteurs</h5>
            <p class="text-justify">Une page dédiée à chaque acteur fera le lien entre le réseau social et la plate-forme.</p>
          </div>
        </div>



      </div>
    </div>
  </div>


  <div class="container">
    <div class="social-network-volets">
      <div class="row">

        <div class="col-xs-12 col-md-12">
          <div class="social-media-card">
            <h3 class="text-center" id="title"> Une plate-forme d'actions environnementales</h3>
          </div>
          <div class="social-media-card">
            <h4 class="text-center" id="title"> Fonctionnalités pour les porteurs d'actions</h4>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Création d'événements</h5>
            <p class="text-justify">permet aux porteurs d'actions de créer les évéments qu'ils souhaitent en indiquant les différentes spécifités de l'action.</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Un module de financement participatif</h5>
            <p class="text-justify">permet aux acteurs de trouver un complément e financement via un module de financement participatif.</p>
          </div>
        </div>


        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Une partie privée réservée aux acteurs </h5>
            <p class="text-justify">Une place de marché pour échanger du matériel et un forum pour échanger des conseils et des études</p>
          </div>
          <br>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="social-media-card">
            <h4 class="text-center" id="title"> Fonctionnalités pour les pêcheurs </h4>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Un module de recherche</h5>
            <p class="text-justify">permet d'accéder aux différentes actions en fonction des filtres choisis (proximité, type d'actions...).</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Une inscription facilitée</h5>
            <p class="text-justify">Une procédure simplifiée pour s'inscrire aux événements (ouverte/sous conditions..).</p>
          </div>
        </div>

        <div class="col-xs-12 col-md-4">
          <div class="card-text">
            <h5 class="text-center">Un système de récompense</h5>
            <p class="text-justify">Chaque action permet d'engranger des points avec un concours à la clé auprès de toute la communauté. </p>
          </div>
          <br>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <h4 class="text-center" id="title"> Exemple de module de recherche</h4>
          <div class="banner-form" id="search-form">
            <%= form_tag(boats_path, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "Votre adresse"%>
              <%= submit_tag "Trouver les actions près de chez moi" , class: 'btn btn-treehouse' %>
            <% end %>
          </div>
          <br>
          <div id="boats">
            <%= render 'boats_list', boats: @boats %>
          </div>
          <br>
          <div id="map" style="width: 100%; height: 350px;">
            <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ provider: { scrollwheel: false, zoomControl: true }, internal: { id: 'map' } }, function() {
                  // handler.addMarker({
                  //   lat: <%= @search_lat %>,
                  //   lng: <%= @search_lng %>,
                  // })
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(13);
                  }
                });
              });
              </script>
            <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>




