

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,1,3,0.2) 0%, rgba(123,2,1,0.4) 50%), url(<%= asset_path 'banner_photo.jpg' %>) ">
  <div class="banner-content">
    <h1>Au bord de l'eau</h1>
    <h2>Le réseau des pêcheurs et de leurs actions environnementales </h2>
  </div>
</div>

<div class="wrapper-grey">
  <div class="container">
    <h2 class="text-center" id="title"> Le projet</h2>
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card-text">
          <div class="image-card">
            <%= image_tag "fishermen_crop.jpg" %>
          </div>
          <h3 class="text-center">Le site</h3>
          <p class="text-justify">Un <strong>site internet</strong> composé :</p>
          <ul>
            <li>d'un <strong>réseau social</strong> pour rassembler les pêcheurs autour de leur passion.</li>
            <br>
            <li>d'une <strong>plate-forme d'actions environnementales collaboratives</strong> pour les inciter à préserver leur cadre de loisir.</li>
          </ul>
          <%= link_to '', le_projet_path, class: "card-link" %>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card-text">
          <br><br>
          <div class="image-card">
            <%= image_tag "logo1901.gif" %>
          </div>
          <h3 class="text-center">L'organisation</h3>
          <p class="text-justify">Un site administré par une <strong>association loi 1901</strong> :</p>
          <ul>
            <li>où <strong>l'ensemble des acteurs</strong> seraient représentés (associations, pouvoirs publics, pêcheurs)</li>
            <br>
            <li>à <strong>but non lucratif</strong>.</li>
            <br>
          </ul>
          <%= link_to '', contact_path, class: "card-link" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card-text">
          <div class="image-card">
            <%= image_tag "nous-rejoindre_crop.png" %>
          </div>
          <h3 class="text-center">La vision</h3>
          <p class="text-justify">Côté pêcheur :</p>
          <ul>
            <li><strong>prise de conscience</strong></li>
            <li>donner les moyens de la transformer en un <strong>engagement concret</strong></li>
          </ul>
          <p class="text-justify">Pour les porteurs de projets :
          <ul>
            <li>trouver des ressources nouvelles</li>
            <li>améliorer leur communication</li>
          </ul>
          <%= link_to '', contact_path, class: "card-link" %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <br><br>
        <h2 class="text-center" id="title"> Un site internet composé de deux volets : </h2>
        <br>
      </div>
    </div>
  </div>

<div class="wrapper-blue">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="social-media-card">
          <h3 class="text-center" id="title"> 1. un réseau social </h3>
          <p class="text-justify">... permettant à chacun de partager sa passion (type Facebook mais dédié à la pêche), où l’on peut suivre les comptes de ses amis, publier des photos, créer des articles, des fiches techniques, des sorties entre amis... </p>

        </div>
      </div>
    </div>
          <h3 class="text-center" id="title"> Visuel maquette </h3>
          <div class="image-site">
            <%= image_tag "boat4.jpg" %>
          </div>

          <h3 class="text-center" id="title"> Fonctionnalités </h3>
          <div class="col-xs-12 col-md-3">
            <div class="card-text">
              <h3 class="text-center">Un forum & une messagerie</h3>
              <p class="text-justify">Pour discuter avec ses amis</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="card-text">
              <h3 class="text-center">Des amis et des groupes</h3>
              <p class="text-justify">Pour préparer ses futures parties de pêche</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="card-text">
              <h3 class="text-center">Un mur d'articles</h3>
              <p class="text-justify">Pour suivre les infos</p>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="card-text">
              <h3 class="text-center">Une partie événements </h3>
              <p class="text-justify">Pour que la communauté vive ! </p>
            </div>
          </div>

        </div>
      </div>
  </div>
</div>

<br><br>

<div class="wrapper-green">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="presentation-site-card">
          <h3 class="text-center" id="title"> 2. une plate-forme</h3>
          <p class="text-justify">... permettant de créer des actions environnementales et trouver des ressources afin de les concrétiser :</p>
          <ul>
            <li>trouver des volontaires prêts à prêter main forte pour une action sur le terrain</li>
            <br>
            <li>communiquer sur les actions</li>
            <br>
            <li>créer un financement participatif</li>
            <br>
            <li>...</li>
          </ul>
          <br>
          <h3 class="text-center" id="title"> Visuel maquette</h3>
            <div class="image-site">
            <%= image_tag "boat3.jpg" %>
          </div>
          <h3 class="text-center" id="title"> Un module de recherche</h3>
          <div class="banner-form" id="search-form">
            <%= form_tag(boats_path, method: :get) do %>
              <%= text_field_tag :search, params[:search], placeholder: "Votre adresse"%>
              <%= submit_tag "Trouver les actions près de chez moi" , class: 'btn btn-treehouse' %>
            <% end %>
          </div>
          <br>
          <h3 class="text-center" id="title"> Un accès aux différentes actions</h3>
          <div id="boats">
            <%= render 'boats_list', boats: @boats %>
          </div>
          <br>
          <div id="map" style="width: 100%; height: 350px;">
            <% content_for(:after_js) do %>
            <script>
              $(document).ready(function() {
                var handler = Gmaps.build('Google');
                handler.buildMap({ provider: { scrollwheel: false, zoomControl: true }, internal: { id: 'map' } }, function() {
                  // handler.addMarker({
                  //   lat: <%= @search_lat %>,
                  //   lng: <%= @search_lng %>,
                  // })
                  markers = handler.addMarkers(<%= raw @hash.to_json %>);
                  handler.bounds.extendWith(markers);
                  handler.fitMapToBounds();
                  if (markers.length == 0) {
                    handler.getMap().setZoom(2);
                  } else if (markers.length == 1) {
                    handler.getMap().setZoom(13);
                  }
                });
              });
              </script>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



