<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Inscris ton action !</h2>

      <%= simple_form_for (@boat) do |f| %>
        <%= f.input :name %>
        <%= f.input :organizer, placeholder: "APPMA La Gaule Nivernaise" %>
        <%= f.input :starts_at %>
        <%= f.input :ends_at %>
        <%= f.input :address %>
        <%= f.input :street_address %>
        <%= f.input :zipcode %>
        <%= f.input :city %>
        <%= f.input :description %>
        <%= f.input :objectives %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.submit "Ajoutez une action", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>

