<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">


<h2>Inscris ton bateau !</h2>

<%= simple_form_for (@boat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price_per_day %>
  <%= f.input :nb_of_passengers %>
  <%= f.input :photo, as: :attachinary %>
  <%= f.submit "Add your boat", class: "btn btn-primary" %>
<% end %>

    </div>
  </div>
</div>
