


<div class="wrapper" id="wrapper-show">
  <% if @boat.photo? %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @boat.photo.path %>');">
      <div class="banner-content">
        <h1><%= @boat.name %></h1>
      </div>
    </div>
  <% else %>
    <div class="banner" id="wrapper-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("fishing_boat_fdoghg") %>')">
      <div class="banner-content">
        <h1><%= @boat.name %></h1>
      </div>
    </div>
  <% end %>
</div>

<div class="container" id="info-container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">L'organisateur de l'action</h3>
      <p class="text-center"><%= @boat.organizer %> </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Lieu de rendez-vous</h3>
      <p><%= @boat.street_address %> </p>
      <p><%= @boat.zipcode %> </p>
      <p><%= @boat.city %> </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Quand ?</h3>
      <p><%= @boat.starts_at %> </p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h3>Objectifs</h3>
      <p><%= @boat.objectives %> </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <h3>Description</h3>
      <p><%= @boat.description %> </p>
    </div>
  <div class="row">
    <div class="col-xs-6 col-md-2 col-lg-2 btn btn-treehouse">
      <%= link_to "s'inscrire", boat_path(@boat),
      method: :delete,
      data: { confirm: "Attention : efface l'action ! (pour les besoins de la demo)" } %>
    </div>
  </div>

<br>
<br>

<div class="container">
  <div id="map" style="width: 100%; height: 300px;"></div>
  <% content_for(:after_js) do %>
    <script type="text/javascript">
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    </script>>
  <% end %>
</div>


<!-- <div class="container date-form">
  <div class="text-center">
    <%= simple_form_for([@boat, @booking]) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :starts_at %>
        <%= f.input :ends_at%>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
 -->


