


<div class="wrapper" id="wrapper-show">
  <% if @boat.photo? %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @boat.photo.path %>');">
      <div class="banner-content">
        <h1><%= @boat.name %></h1>
      </div>
    </div>
  <% else %>
    <div class="banner" id="wrapper-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("fishing_boat_fdoghg") %>')">
            <div class="banner-content">
        <h1><%= @boat.name %></h1>
        <h2><%= @boat.organizer %></h2>
      </div>
    </div>
  <% end %>
</div>


<div class="container text-center" id="info-container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <p>price : <%= @boat.price_per_day %> €/day</p>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <p id="" >Passengers : <%= @boat.nb_of_passengers %> </p>
    </div>
  </div>
      <p> <strong><%= @boat.description %> </strong> </p>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-sm-offset-2 btn btn-treehouse">
      <%= link_to "s'inscrire", boat_path(@boat),
      #method: :delete,
      data: { confirm: "Je confirme mon inscription !" } %>
    </div>
  </div>
</div>

<!-- <div class="container date-form">
  <div class="text-center">
    <%= simple_form_for([@boat, @booking]) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <%= f.input :starts_at %>
        <%= f.input :ends_at%>
      </div>
      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
 -->


