<div class="container">
  <h1> <%= @boat.name %></h1>
  <p>price : <%= @boat.price_per_day %> €/day</p>
  <p>Passengers : <%= @boat.nb_of_passengers %> </p>
  <p>Description : <%= @boat.description %></p>
    <% if @boat.photo? %>
      <%= cl_image_tag @boat.photo.path, width: 200, height: 300, crop: :fill %>
      <% else %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("fishing_boat_froc0q",
      width: 400, height: 300, crop: :fit) %>')">
    <% end %>
</div>
