



  <% if @boat.photo? %>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @boat.photo.path %>');">
      <div class="banner-content">
        <h1><%= @boat.name %></h1>
      </div>
    </div>
  <% else %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path("fishing_boat_fdoghg") %>')">
            <div class="banner-content">
        <h1><%= @boat.name %></h1>
      </div>
    </div>
  <% end %>


<div class="container">
  <div class="row">
        <div class="col-xs-12 col-md-3">
          <p>price : <%= @boat.price_per_day %> €/day</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <p>Passengers : <%= @boat.nb_of_passengers %> </p>
        </div>
   </div>
      <p>Description : <%= @boat.description %></p>
</div>



<%= simple_form_for([@boat, @booking]) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :starts_at %>
    <%= f.input :ends_at%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Back to home page', boats_path, class: "btn btn-primary" %>

<%= link_to "Effacer ce bateau", boat_path(@boat), method: :delete, class: "btn btn-danger" %>
